// Move to common typography file
$main-color: #333333;

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;

    .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-bottom: 60px;
    }
    
    section {
        display: flex;

        & > :not(:first-child) {
            margin-left: 40px;
        }

        &:not(:last-child) {
            padding-bottom: 40px;
        }
        
        p {
            width: 70%;
        }

        :not(p) {
            width: 30%;
        }
    }
}