<div class="header">
    <div class="nav">
        <a [routerLink]="['/']" routerLinkActive="router-link-active" class="app-name">
            <img class="logo" src="assets/angular.svg" />
            <h3>Angular MFE example</h3>
        </a>

        <div class="separator">&nbsp;</div>
    
        <ul class="nav-bar">
            <li><a [routerLink]="['/mfe-1']" routerLinkActive="active" >Products</a></li>
            <li class="separator"></li>
            <li><a [routerLink]="['/mfe-2']" routerLinkActive="active" >Contacts</a>   </li>
            <li class="separator"></li>
            <li>other...</li>
        </ul>
    </div>

    <div class="links">
        <img class="logo bell" src="assets/notification.png" />
        <a href="#"><img class="logo" src="assets/github.svg" /></a>
    </div>
</div>