<div class="nav">
    <ng-container
        [ngTemplateOutlet]="withHomeLink ? logoWithLink : logo"
        [ngTemplateOutletContext]="{ hasLogo, title }" >
    </ng-container>

    <div *ngIf="links?.length" class="separator">&nbsp;</div>

    <ul class="nav-bar">
        <ng-container
            *ngFor="let current of links; index as index; count as count"
            [ngTemplateOutlet]="current?.route ? link : text"
            [ngTemplateOutletContext]="{ current }">
            <li *ngIf="index && index < count" class="separator"></li>
        </ng-container>
    </ul>
</div>

<ng-template #link let-current="current">
    <li><a [routerLink]="current.route" routerLinkActive="active" >{{current.label}}</a></li>
</ng-template>

<ng-template #text let-current="current">
    <li>{{current.label}}</li>
</ng-template>

<ng-template #logoWithLink let-hasLogo="hasLogo" let-title="title">
    <a *ngIf="title || hasLogo" [routerLink]="['/']" routerLinkActive="router-link-active" class="app-name">
        <ng-container [ngTemplateOutlet]="appName" [ngTemplateOutletContext]="{ hasLogo, title }"></ng-container>
    </a>
</ng-template>

<ng-template #logo let-hasLogo="hasLogo" let-title="title">
    <div *ngIf="title || hasLogo" class="app-name">
        <ng-container [ngTemplateOutlet]="appName" [ngTemplateOutletContext]="{ hasLogo, title }"></ng-container>
    </div>
</ng-template>

<ng-template #appName let-hasLogo="hasLogo" let-title="title">
    <!-- <div class="hamburger-menu">HAM</div> -->
    <fa-icon *ngIf="hasLogo" [icon]="['fab', 'angular']" size="2x"></fa-icon>
    <h3>{{title}}</h3>
</ng-template>