@forward './assets/scss/theme.scss';
@forward './assets/scss/typography.scss';

* {
    font-family: 'Roboto';
    margin: 0;
}

// SEPARATORS
.section-separator {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(0.25turn, transparent, yellow, gold, lightgreen, green, darkgreen, green, lightgreen, gold, yellow, transparent);
    margin: 24px 0;
}
