%red {
    color: darkred;
}

.product-card {
    border: 2px solid lightgrey;
    border-radius: 4px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
    box-shadow: 2px 2px 12px 2px darkgray;

    &:hover {
        border: 2px solid gold;
        background-color:rgba(255, 235, 205, .3);
        cursor: pointer;
        box-shadow: 2px 2px 12px 2px orange;

        .arrow {
            transform: translateX(0);
            color: darkorange;
        }
    }

    & > :not(:first-child) {
        margin-left: 8px;
    }

    &.list {
        margin-bottom: 8px;
    }

    &.grid {
        padding: 12px;

        &:not(:last-child) {
            margin-bottom: 0;
        }

        .product-wrapper {
            flex-direction: column;
        
            .product-info {
                .product-image {
                    max-height: 100px;
                    min-width: auto;
                    max-width: auto;
                }

                .product-card {
                    flex-direction: column;
                }
            }

            .product-price {
                margin-top: 8px;
            }
        }
    }

    .product-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .product-info {
            display: flex;

            .product-image {
                min-width: 100px;
                max-width: 150px;
                height: auto;
            }
        
            .product-details {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 20px;
        
                .product-name {
                    font-size: 20px;
                    font-weight: 700;
                }
            
                .product-description {
                    display: -webkit-box;
                    font-size: 13px;
                    max-width: 800px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
        
                .product-vendor {
                    font-size: 13px;
                    font-style: italic;

                    &.not-available {
                        @extend %red;
                    }
                }
            }
        }

        .actions-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
    }

    .actions {
        & > * {
            transition: all .3s ease;

            &:hover {
                cursor: pointer;
                color: darkred;
            }

            &:not(:first-child) {
                margin-left: 8px;
            }
        }
    }

    .product-price {
        justify-content: flex-end;
        font-size: 24px;
        font-weight: 700;
        min-width: 120px;
        text-align: end;
        margin: auto 12px auto 0;

        &.not-available {
            @extend %red;
            text-decoration: line-through;
        }
    }

    .arrow {
        transition: all .3s ease;
        transform: translateX(-10px);
    }
}