<div class="title">
    <h1>Products</h1>
    <div class="filters">
        <div>Add filters....</div>
        <div class="display-mode">
            <span class="display-as">Display items as</span>
            <fa-icon
                *ngIf="!previousMode"
                icon="bars"
                class="icon"
                [class]="{ 'active': mode === 'list' }"
                (click)="onDisplayMode('list')">
            </fa-icon>
            <fa-icon
    
                icon="th-large"
                class="icon"
                [class]="{ 'active': mode === 'grid' }"
                (click)="onDisplayMode('grid')">
            </fa-icon>
        </div>
    </div>
</div>

<div class="product-list" [class]="mode" [@listAnimation]="items.length">
    <products-product-card 
        *ngFor="let item of items"
        [mode]="mode"
        [product]="item">
    </products-product-card>
</div>
